repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.54.0
    hooks:
      - id: eslint
        args: [--fix]
        additional_dependencies:
          - eslint-plugin-react
          - eslint-plugin-react-hooks
  - repo: local
    hooks:
      - id: test
        name: Run tests
        entry: npm test
        language: system
        pass_filenames: false