repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$\|\.mdx?$\|\.tsx?$\|\.jsx?$
        types: [file]
        additional_dependencies:
          - eslint@8.56.0

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.[jt]sx?$\|\.mdx?$\|\.tsx?$\|\.jsx?$\|\.css$\|\.scss$\|\.less$\|\.json$\|\.yaml$\|\.yml$

  - repo: https://github.com/doublify/pre-commit-go
    rev: v2.0.0
    hooks:
      - id: go-fmt
        files: \.go$
      - id: go-vet
        files: \.go$
      - id: go-lint
        files: \.go$
