apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "opencoze.fullname" . }}-model-config
  labels:
    {{- include "opencoze.labels" . | nindent 4 }}
data:
{{- range $path, $_ := .Files.Glob "files/conf/model/*" }}
  {{ base $path }}: |-
{{ $.Files.Get $path | indent 4 }}
{{- end }}